@media (max-width: 767px) {
    .fixed .content-wrapper, .fixed .right-side, .main-sidebar {
        padding-top: 50px;
    }

    div.header>div.pull-left {
        display: none;
    }

    .sb-welcome-box div.content {
        min-height: auto !important;
    }

    .table-responsive::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    .table-responsive::-webkit-scrollbar:vertical {
        width: 12px;
    }

    .table-responsive::-webkit-scrollbar:horizontal {
        height: 12px;
    }

    .table-responsive::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
        border: 2px solid #ffffff;
    }

    .table-responsive::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #ffffff;
    }

    .skin-blue .main-header .navbar .nav>li>a:focus {
        background-color: rgba(0, 0, 0, 0);
    }
}

tr td:last-child, tr th:last-child {
    text-align: right;
}

.navbar-nav>.user-menu>.dropdown-menu{
    padding: 0px;
}

tr, td{
    outline: none;
}
